<h1>Welcome To New Application</h1>
<h2><%= link_to "Show all the Posts",posts_path %></h2>
</br></br>
<%= link_to "signout", destroy_user_session_path,method: :delete %>
<%= link_to "Edit register data",edit_user_registration_path %>